@import "reset.css";

@bg-site: #c0c0c0;
@text-color: lighten(black, 20%);

@width: 1000px;

@spacing: 5px;

.drop-shadow (@drop: 0 0 10px, @color: rgba(0,0,0,.4)) {
    box-shadow: @drop @color;
}

html,body {
	background-color: @bg-site;	
	font: 12px arial;
	color: @text-color;
}

.site {
	width: @width;
	background-color: #fff;
	margin: @spacing*4 auto;
	.drop-shadow;
}