@import "reset.css";

@import url(http://fonts.googleapis.com/css?family=Electrolize);
html,
body {
  background-color: #c0c0c0;
  font: 15px "helvetica neue";
  color: #333333;
}
.site {
  width: 1000px;
  background-color: #fff;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.site header {
  border-bottom: 2px solid #333333;
  background: #f79521;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f79521 0%, #7b4404 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f79521), color-stop(100%, #7b4404));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f79521 0%, #7b4404 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f79521 0%, #7b4404 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f79521 0%, #7b4404 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f79521 0%, #7b4404 100%);
  /* W3C */

}
.site header h1 {
  color: #ffffff;
  font: bold 30px 'Electrolize', sans-serif;
  padding: 15px 10px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.site .content {
  padding: 15px 10px;
}
.site .content h2 {
  font-size: 30px;
}
.site .content h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: #f79521;
}
.site .content ul.homepage {
  padding: 0 20px;
}
.site .content ul.homepage li {
  list-style: disc;
}
.site .content ul.homepage li a {
  color: #7b4404;
  text-decoration: none;
  font-size: 20px;
}
.site .content ul.homepage li a:hover {
  text-decoration: underline;
}
.site .content > p {
  margin: 10px 0;
  line-height: 1.5em;
  text-align: justify;
}
.site .footer {
  padding: 15px 10px;
  border-top: 1px solid #333333;
  font-weight: bold;
}
.photo {
  border: 1px solid #747474;
  padding: 10px;
  border-radius: 10px;
  background-color: #c0c0c0;
  text-align: center;
  margin-top: 10px;
}
.photo > p {
  margin: 10px 0 0;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}
.photo img {
  display: inline-block;
}
